 /* Meu pimeilo alquilvo css*/

p{
	color: white;
	font-size: 20px;
	font-family:Helvetica;
	padding: 40px;
	text-shadow: 1px 1px 1px #111111;

}
body{
	background-color: black;
}
*{
	margin:0;
	padding:0;
	font-family: Helvetica, Arial;
}
header{
	background-color: #35b8b0;
	height: 80px;
	padding: 20px;
}
#div_principal{
	min-height:500px;
	background-image: url('fundo.jpg');
	background-size: 100%;
	padding: 80px 0 0 0;
	clear: both;
}
h1{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px #111111;
}
footer{
	background-color: #35b8b0;
	height: 50px;
	clear: both;
	text-align: center;
	padding: 10px;
	text-shadow: 1px 1px 1px #111111;
	font-size: 12px;

}
.container{
	width: 960px;
	margin: auto;
}
.efeito{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 50px, 0, 80px, 0;
}
#logo{
	float:left;
}
#menu{
	float:right;
	margin-top: 10px;
}
#menu a{
	text-decoration: none;
	color: black;
	padding: 20px;
}
#menu a:hover{
	background-color: #111111;
	color: #35b8b0;
}